---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import { TEST_URL } from "astro:env/server";
const pageTitle = "coming form index.astro";
console.log("testurl", TEST_URL);
---

<BaseLayout pageTitle={pageTitle}>
  <h2>my awsome subtitile</h2>
</BaseLayout>
