---
import Social from "./Social.astro";
---

<footer>
  <p>Learn more about my projects on</p>
  <Social platform="github" username="rajitkhosla" />
  <Social platform="twitter" username="rajitkhosla" />
  <Social platform="facebook" username="rajitkhosla" />
</footer>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
